@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

body{
    background: linear-gradient(45deg,pink,violet);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'CustomFont', sans-serif; /* Sử dụng phông chữ vừa định nghĩa */
    font-size: 16px;
    color: #333;
}

@font-face {
    font-family: 'CustomFont'; /* Tên tùy chỉnh của phông chữ */
    src: url('fonts/CustomFont.woff2') format('woff2'), /* Đường dẫn tới file phông chữ */
         url('fonts/CustomFont.woff') format('woff'); /* Định dạng dự phòng */
    font-weight: normal; /* Định nghĩa độ dày */
    font-style: normal; /* Kiểu chữ: bình thường, in nghiêng */
}

  .fa-heart {
    color: rgb(60, 0, 60);
    font-size: 25px;
    position: absolute;
    animation:  heartMove linear 1;
    top: -10vh;
    z-index: 0;
}

@keyframes heartMove {
    0%{
        transform: translateY(-10vh) ;
    }
    100%{
        transform: translateY(110vh) ;
    }
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px;
  }
  
  .container .tenor-gif-embed {
    max-width: 200px;
  }
  
  .container .btn {
    display: flex;
    gap: 25px;
  }
  
  .btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 66px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  }
